*.apk
*.aar
*.ap_
*.aab
*.iml
*.dex
bin/
gen/
out/
.idea/
.gradle
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
gradle.properties

