<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sfaxman.islamwallpaper">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="donut">

        <service
            android:name="com.sfaxman.islamwallpaper.WallpaperServiceApp"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/lanterns" />
        </service>

        <activity
            android:name="com.sfaxman.islamwallpaper.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.girlsgallery.four.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />
    </application>

</manifest>