*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradle.properties
google-services.json
/src/scaryallwhotouch/google-services.json
/src/waterRippleLwp/google-services.json
/src/changedWallpaper/google-services.json
