<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sami.rippel.allah">

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission
        android:name="android.permission.BIND_WALLPAPER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.REAL_GET_TASKS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".WallpaperApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <service
            android:name="com.sami.rippel.livewallpapers.lwpskyview.SkyNameOfAllahLiveWallpaper"
            android:enabled="true"
            android:label="Sky Name Of Allah"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/rajawali_example_wallpaper" />
        </service>

        <activity
            android:name="com.sami.rippel.ui.activity.DetailsActivity"
            android:hardwareAccelerated="true"
            android:label="@string/SetWall"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.sami.rippel.views.GlideConfiguration"
            android:value="GlideModule" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service
            android:name="com.sami.rippel.livewallpapers.lwpdouachanged.DouaLiveWallpaper"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/lwp_doua" />
        </service>
        <service
            android:name="com.sami.rippel.livewallpapers.nameofallah2d.NameOfAllah2DLwp"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/lwp_doua" />
        </service>

        <activity
            android:name="com.sami.rippel.ui.activity.GalleryWallpaperActivity"
            android:hardwareAccelerated="true"
            android:label="@string/gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sami.rippel.ui.activity.ViewPagerWallpaperActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sami.rippel.labs.framecollage.ChooseActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sami.rippel.labs.framecollage.PreviewActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sami.rippel.labs.stickers.StickersLabActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name="com.sami.rippel.ui.activity.DouaLiveWallpaperActivity" />
        <activity
            android:name="com.sami.rippel.livewallpapers.lwptimer.WallpaperSchedulerActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.sami.rippel.livewallpapers.lwptimer.RetrieveWallpaperService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.sami.rippel.ui.activity.AboutActivity" />

        <service android:name="com.sami.rippel.labs.basmala.LockService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <receiver android:name="com.sami.rippel.labs.basmala.ScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sami.rippel.labs.basmala.ActivityBasmalaScreen"
            android:label="Besmellah"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.sami.rippel.ui.activity.NameOfAllah2DLiveWallpaperActivity"
            android:label="Nameofallah"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>
</manifest>