<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfaxdroid.sky">

    <application>
        <service
            android:name="com.sfaxdroid.sky.SkyLiveWallpaper"
            android:enabled="true"
            android:label="Sky Name Of Allah"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/sky_wallpaper" />
        </service>
    </application>
</manifest>
